
.table-main{
    margin: auto;
    width: 60%;
    text-align: left;
    
}
 
table{
    margin-top: 30px;
}

table, th, td{
    border-collapse: collapse;
    padding: 15px;
    border-bottom: 1px solid gray;

}
th{
    background-color: #6a6abe;
    color: #fff;
}

.good{
background-color: green;
color: #fff; 
padding: 2px; 
border-radius: 4px;
}

.exce{
    color: blueviolet;
}
caption{
    font-size: 40px;

}
.grade1{
    background-color: blueviolet;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}


.grade2{
    background-color: orangered;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}


.grade3{
    background-color: red;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}